@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(224, 224, 224);
  --background-color: #E5E7F6;
  --fundo: #27339A;
  --texto: black;
  --texto-botao: white;
  --placeholder-color: rgb(116, 116, 116);
  --checkbox: #27339A;
  --check: white;
}

[data-theme='dark'] {
  --background: #191F54;
  --background-color: #27339A;
  --fundo: #F6E5E5;
  --texto: #F6E5E5;
  --texto-botao: #191F54;
  --placeholder-color: #F6E5E5;
  --checkbox: #191F54;
  --check: #F6E5E5;
}

@layer base {
  h1 {
    @apply text-[28px] font-bold;
  }
  h2 {
    @apply text-[24px] font-bold;
  }
  h3 {
    @apply text-[18px] font-bold;
  }

  h4 {
    @apply text-[14px] font-medium;
    color: var(--fundo);
  }
}

@layer components {
  input::placeholder {
    color: var(--placeholder-color);
  }
}

@layer utilities {
  .login {
    @apply w-[380px] h-[47px] rounded-[10px] py-[14px] px-[18px];
    background-color: var(--background);
  }

  .input {
    @apply rounded-[10px] py-[10px] pb-[11px] px-[10px];
    background-color: var(--background);
  }

  .botao {
    @apply flex  h-[47px] items-center justify-center rounded-[12px] py-[12px] pl-[10px] pr-[16px] drop-shadow-button;
    background-color: var(--fundo);
    color: var(--texto-botao);
  }

  .entrar {
    @apply w-[380px] rounded-[10px] py-[14px];
  }

  .fundo {
    background-color: var(--background-color);
  }

  .checkbox {
    @apply w-[16px] h-[16px] mr-[8px];
    color: var(--check);
  }

  .checkbox:checked {
    @apply bg-[var(--checkbox)];
  }

  .titulo {
    @apply font-semibold text-[16px];
  }

  main {
    background-color: rgb(250, 250, 250);
  }
}